<h1>LinkedIn People Search Widget Example</h1>
<p><input type="text" placeholder="Search Person" size="50" id="li-search-widget"></input><input value="Search" type="submit" id="li-search-widget-submit"></p>
<div id="searchResults"></div>

