<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <%= stylesheet_link_tag "searchwidget" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">
    api_key: <%= js_apikey %>
    authorize: true
  </script>
</head>
<body>
  
  <script type="in/Login">
  Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>

  <h1>LinkedIn People Search Widget Example  (No Library)</h1>
  <p><form id="li-search-widget"><input type="text" placeholder="Search Person" size="50" id="li-keyword-input" autocomplete="off"></input><input value="Search" type="submit" id="li-search-widget-submit"/></form></p>
  <ul id="searchResults" class="search-results">
    <li id="resultTemplate" class="search-result" style="display:none">
      <div class="info">
        <p><a data-li="publicProfileUrl" class="li-field name"><span data-li="firstName" class="li-field"></span>&nbsp;<span data-li="lastName" class="li-field"></span></a></p>
        <p><span data-li="headline" class="li-field headline"></span></p>
      </div>
      <div class="picture">
        <img data-li="pictureUrl" class="li-field profile-photo"></img>
      </div>
      <span style="display:none" data-li="id" class="li-field"></span>
    </li>
  </ul>

  <div id="overlay">
  <ul id="drop" class="search-results"></ul>
  <textarea id="template"></textarea>
  <input id="changeTemplateButton" type="button" value="Change template"></input>
  </div>
</body>
<%= javascript_include_tag "nolibrary" , "demo" %>
</html>
